*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#e4cfac;
}
header{
    display: flex;
    background-color: rgb(209, 66, 26);
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    border-radius: 30px 30px 30px 30px;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
header a{
    text-decoration: none;
    color: #efe2cd;

}
#boka{
    text-decoration: underline  ;
}
.logga >img{
    height: 70px;
    width: auto;
    margin: 3px;


}

.headbox{
color: #efe2cd;

text-align: center;
margin: auto; 
}


.slogan{
    display: flex;
    text-align: center;
    justify-content: center;
   background-image: url(img/4k-pasta-background-3840-x-2400-4bvbm9yzpi054ep0.jpg);
   height:60vw ;
   background-size: cover;
    background-repeat: no-repeat;
   margin-top: 20px;
   border-bottom: 40px solid rgb(209, 66, 26) ;

   
    
}
.slogan>div{
    margin-top: 50px;
    display: flex;
    height: fit-content;
    align-items: center;
   
    background-color: rgb(209, 66, 26);
    border-radius:20px 20px 20px 20px ;
    flex-wrap: nowrap;
    
    color: #efe2cd;
    font-size: 3vw;
    
}
.slogan >div > img{
    height: 6vw;
    width: auto;
   
    margin: 4%;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 100px;

}
.bodybox{
    border: 5px solid rgb(209, 66, 26);
    background-color: rgb(209, 66, 26);
    margin-top: 20px;
    padding-bottom: 20px;
    color: #efe2cd;
    width:auto;
   
    
}
.bodybox> iframe{
    width: 400px;
    height: 400px;
}

.bodybox h3{
    text-align: center;
}

li{
    list-style-type: none;
    color: #efe2cd;
    
}
li:nth-child(2n+1){
   font-size: 25px;
}
.bodybox>img{
    width: 300px;
    height: auto;
    margin: auto;
}
.titel{
    display: flex;
    font-size: 50px;
    margin: auto;
    height: 100px;
    justify-content: space-around;
    margin-top: 40px;
      

    
}
.titel>div{
    background-color: rgb(209, 66, 26);
     margin: auto;
     border-radius: 20px 20px 20px 20px;
     padding: 5px;
     padding-left: 20px;
     padding-right: 20px;
     text-align: center;
     color: antiquewhite;
}