*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#efe2cd;
}
header{
    display: flex;
    background-color: rgb(209, 66, 26);
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    border-radius: 30px 30px 30px 30px;
    margin-top: 10px;
}
.logga >img{
    height: 70px;
    width: auto;
    margin: 3px;

}
.headbox{
color: antiquewhite;

text-align: center;
margin: auto;
}
header :first-child{
/*dada*/
}